@import url(assets/color/color.css);    /* Importo colori del sito */
@import url(assets/font/font.css);      /* Importo font del sito */
@import url(assets/image/*);            /* Importo immagini del sito */

/* Formattazione sito */
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

/* Inizio CSS sito */

.cont-nav-and-entra-boolean {
    flex-direction: column;
    background-color: var(--background-navbar-entra-boolean);
}