@import url(assets/color/color.css);    /* Importo colori del sito */
@import url(assets/font/font.css);       /* Importo font del sito */

/* Formattazione sito */
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy-Medium;
}

@keyframes marquee1 {
    0% {
        transform: translateX(0);
    }

    100% {
        display: block;
        transform: translateX(-100%);
    }
}

body {
    font-family: Gilroy-Medium;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contenitore-main-generale {
    min-width: 100vw;
}

.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

/* Inizio CSS sito */
.cont-nav-and-entra-boolean {           /* Colore gradiant tra la nav e la sezione sotto */
    flex-direction: column;
    background: var(--background-navbar-entra-boolean);
    padding: 192px 0px 48px;
    padding-bottom: 16px;
}

/* Inizio NavBar */
.cont-navbar-generale {
    background-color: var(--background-navbar);
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    position: fixed;
    padding: 16px 80px;
    top: 0;
    z-index: 2000;
}

.navbar-parte-sinistra .logo-940 {
    display: none;
}

.navbar-parte-centrale {
    font-family: Gilroy-Bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}

.navbar-parte-centrale .item {
    margin: 0px 20px;
}

.navbar-parte-centrale .item:hover {
    cursor: pointer;
}

.navbar-parte-destra button {
    background-color: var(--bottone-navbar);
    border: var(--bottone-navbar);
    font-family: bold;
    font-size: 16px;
    color: var(--bottone-navbar-testo);
    padding: 10px 22px;
    cursor: pointer;
    border-radius: 2px;
}

.navbar-parte-destra .cont-menu {
    cursor: pointer;
    position: relative;
    height: 42px;
    margin-left: 24px;
    width: 30px;
    display: none;
}

.navbar-parte-destra .cont-menu span {
    background: #001632;
    display: block;
    height: 4px;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100%;
}

.cont-menu span:first-child {
    top: 10px;
}
.cont-menu span:nth-child(2),
.cont-menu span:nth-child(3) {
    top: 19px;
}
.cont-menu span:nth-child(4) {
    top: 28px;
}


@media screen and (max-width: 940px) { /* Navbar adattamento mobile  */
    .cont-navbar-generale {
        padding: 16px 24px;
    }
    .navbar-parte-centrale {
        display: none;
    }
    .navbar-parte-sinistra .logo {
        display: none;
    }

    .navbar-parte-sinistra .logo-940 {
        display: flex;
    }

    .navbar-parte-destra .cont-menu {
        display: block;
    }

}

/* Inizio prima informazione sull'iscrizione */
.cont-entra-boolean-generale {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 16px;
    width: 100%;
    max-width: 940px;
    flex-wrap: wrap;
}

.entra-boolean-sinistra {
    order: 1;
    flex-direction: column;
    padding: 0px 16px;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
}

.entra-boolean-destra {
    order: 2;
    padding: 0px 16px;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
}

.entra-boolean-destra img {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -50px;
    width: 100%;
}

.entra-boolean-sinistra .item:first-child {
    font-family: Gilroy-Bold;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 63px;
    margin: -32px 0px 16px;
}

.entra-boolean-sinistra .item:nth-child(2) {
    font-family: Gilroy-Medium;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0px 0px 32px;
}

.entra-boolean-sinistra button {
    background-color: var(--bottone-entra-boolean);
    border: var(--bottone-entra-boolean);
    color: var(--bottone-entra-boolean-testo);
    width: 144.22px;
    cursor: pointer;
    font-size: 18px;
    margin: 0px 0px 24px;
    padding: 15px 28px;
    text-align: center;
    border-radius: 2px;
}

.entra-boolean-sinistra button:hover {
    background-color: var(--bottone-entra-boolean-hover);
    border: var(--bottone-entra-boolean-hover);
}

@media screen and (max-width:940px) {
    .cont-entra-boolean-generale {
        max-width: 576px;
    }

    .entra-boolean-sinistra button {
        width: 100%;
    }
    .entra-boolean-sinistra .item:first-child {
        font-family: Gilroy-Bold;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 37px;
    }
    .entra-boolean-sinistra .item:nth-child(2) {
        font-family: Gilroy-Medium;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 27px;
    }
    .entra-boolean-destra {
        height: 327px;
    }
    .entra-boolean-destra img {
        top: -30px;
        width: 110%;
    }
}
@media screen and (max-width:577px) {
    .cont-entra-boolean-generale {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
        width: 100%;
        align-items: center;
    }
    .entra-boolean-sinistra {
        order: 2;
        max-width: 100%;
    }
    .entra-boolean-destra {
        order: 1;
    }
    .entra-boolean-sinistra button {
        width: 100%;
    }
    .entra-boolean-sinistra .item:first-child {
        margin-bottom: 8px;
        margin-top: -32px;
    }
}

/* Inizio sezione scopri corsi */
.cont-scopri-corsi-generale {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 940px;
    width: 100%;
}

.cont-scopri-corsi-generale h3 {
    padding: 0px 0px 32px;
    font-family: Gilroy-Bold;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 46px;
}

.cont-scelta-corso {
    gap: 32px;
}

.scelta-corso-sinistra-secondo,
.scelta-corso-destra-secondo {
    flex-direction: column;
}

.scelta-corso-sinistra,
.scelta-corso-destra {
    background-color: var(--background-scopri-corsi);
    border-radius: 2px;
    color: var(--colore-freccia-scopri-corsi);
    display: flex;
    margin-bottom: 24px;
    padding: 16px;
    border: 1.5px solid var(--border-scopri-corsi);
    cursor: pointer;
}

.scelta-corso-sinistra:hover,
.scelta-corso-destra:hover {
    border: 1px solid var(--bottone-entra-boolean-hover);
}

.scelta-corso-sinistra-secondo svg,
.scelta-corso-destra-secondo svg {
    position: absolute;
    top: 50%;
    right: 0px;
}

.scelta-corso-sinistra-primo {
    background-color: #00de6b;
    width: 67px;
    height: 67px;
}

.scelta-corso-destra-primo {
    background-color: #cad4fb;
    width: 67px;
    height: 67px;
}

.scelta-corso-sinistra-secondo,
.scelta-corso-destra-secondo {
    padding: 10px 32px 10px 16px;
    position: relative;
}

.scelta-corso-sinistra-secondo h4,
.scelta-corso-destra-secondo h4 {
    color: var(--colore-titolo-scopri-corso);
    font-family: Gilroy-Bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 23px;
}
.scelta-corso-sinistra-secondo p,
.scelta-corso-destra-secondo p {
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.scelta-corso-sinistra-primo svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 15px;
}
.scelta-corso-destra-primo svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 15px;
}

@media screen and (max-width:940px) {
    .cont-scelta-corso {
        flex-direction: column;
        gap: 0px;
    }
    .cont-scopri-corsi-generale {
        max-width: 576px;
    }
    .scelta-corso-sinistra {
        padding: 16px 0px;
        margin-bottom: 0px;
        border-bottom: 1.5px solid #cad4fb;
        background-color: var(--background-body);
    }
    .scelta-corso-destra {
        background-color: var(--background-body);
        padding: 16px 0px;
        margin-bottom: 0px;
    }
    .cont-scopri-corsi-generale h3 {
        font-family: Gilroy-Bold;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 28px;
    }
}

/* Inizio info sulla garanzia di assunzione */
.cont-garante-successo-generale {
    flex-direction: column;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.cont-garante-successo-generale .item:first-child h2 {
    margin: 0px 0px 16px;
    font-family: Gilroy-Bold;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
}

.cont-garante-successo-generale .item:nth-child(2) p {
    font-family: Gilroy-Medium;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 34px;
}

.cont-garante-successo-generale .item:nth-child(3) a {
    color: var(--link-garante-successo);
}
.cont-garante-successo-generale .item:nth-child(3):hover {
    color: var(--link-garante-successo-hover);
    cursor: pointer;
}
.cont-garante-successo-generale .item:nth-child(3):hover a {
    color: var(--link-garante-successo-hover);
}
.cont-garante-successo-generale .item:nth-child(3) a:hover {
    color: var(--link-garante-successo-hover);
}
.cont-garante-successo-generale .item:nth-child(3) {
    margin: 40px 0px 0px;
    max-width: max-content;
}
.cont-garante-successo-generale .item:nth-child(3) svg {
    margin-left: 16px;
}

@media screen and (max-width:940px) {
    .cont-garante-successo-generale {
        max-width: 576px;
    }
    .cont-garante-successo-generale .item:first-child h2 {
        font-size: 20px;
    }
    .cont-garante-successo-generale .item:nth-child(2) p {
        font-size: 18px;
    }
}

/* Inizio sezione dettagli sulle procedure del corso */
.cont-esp-riv-generale {
    max-width: 940px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 48px;
    width: 100%;
}

.cont-esp-riv-generale .item:first-child{
    font-family: Gilroy-Bold;
    letter-spacing: 0;
    line-height: 46px;
}

.cont-esp-riv-generale .item:first-child h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}

.cont-esp-riv-generale .item:nth-child(2) {
    font-family: Gilroy-Medium;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 34px;
    margin-top: 16px;
}

@media screen and (max-width:940px) {
    .cont-esp-riv-generale {
        max-width: 576px;
    }
    .cont-esp-riv-generale .item:first-child h2 {
        font-size: 24px;
    }
    .cont-esp-riv-generale .item:nth-child(2) p {
        font-size: 18px;
    }
}
/* Adattamento cont esperienze insieme a cont garanzie successo
    (visto che si uniscono) */
@media screen and (max-width:575px) { 
    .cont-garante-successo-generale .item:first-child h2 {
        margin: 0px 0px 8px;
        width: 100%;
        max-width: 100%;
    }
    .cont-garante-successo-generale .item:nth-child(2) {
        max-width: 100%;
        width: 100%;
    }
    .cont-garante-successo-generale .item:nth-child(3) {
        margin: 24px 0px 0px;
    }
    .cont-esp-riv-generale {
        margin-top: 32px;
    }
    .cont-esp-riv-generale .item:nth-child(2) {
        margin-top: 8px;
    }
}

/* Inizio sezione riguardanti gli strumenti del corso */
.cont-strumenti-corso-generale {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 48px;
    width: 100%;
    justify-content: space-between;
}

.str-corso-destra-su,
.str-corso-destra-centro,
.str-corso-destra-giu {
    margin-bottom: 40px;
    cursor: pointer;
}

.strumenti-corso-sinistra {
    order: 2;
    position: relative;
    margin-left: 8.33333333%;
    max-width: 53%;
    padding-left: 16px;
    padding-right: 16px;
}
.strumenti-corso-sinistra img {
    width: 100%;
}
.strumenti-corso-sinistra img:nth-child(2),
.strumenti-corso-sinistra img:nth-child(3) {
    display: none;
}
.strumenti-corso-destra {
    order: 1;
    flex-direction: column;
    max-width: 35.666667%;
}

.titolo-str-corso {
    font-family: Gilroy-Bold;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 8px;
}

.desc-str-corso {
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27px;
    color: var(--bottone-entra-boolean);
}

.str-corso-destra-su:hover,
.str-corso-destra-centro:hover,
.str-corso-destra-giu:hover{
    color: var(--strumenti-corso-hover);
}

@media screen and (max-width:940px) {
    .cont-strumenti-corso-generale {
        max-width: 576px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 48px;
    }
    .strumenti-corso-sinistra {
        order: 1;
        display: flex;
        position: relative;
        margin-left: 0px;
        max-width: 100%;
        padding-left: 0px;
        width: 100%;
    }
    .strumenti-corso-destra {
        order: 2;
        max-width: 100%;
        margin-top: 48px;
    }
    .strumenti-corso-sinistra img:first-child,
    .strumenti-corso-sinistra img:nth-child(2),
    .strumenti-corso-sinistra img:nth-child(3) {
        display: flex;
        width: 181px;
        height: 226px;
    }
    .titolo-str-corso {
        font-size: 20px;
    }
    .desc-str-corso {
        font-size: 16px;
    }
}
@media screen and (max-width:575px) {
    .strumenti-corso-sinistra img:nth-child(2),
    .strumenti-corso-sinistra img:nth-child(3) {
        display: none;
    }
    .strumenti-corso-sinistra img:first-child {
        width: 100%;
        height: 100%;
    }
    .str-corso-destra-su:hover,
    .str-corso-destra-centro:hover,
    .str-corso-destra-giu:hover{
        color: #000000;
    }
    .titolo-str-corso {
        font-size: 26px;
    }
    .desc-str-corso {
        font-size: 18px;
    }


}

/* Inizio sezione per scaricare il programma del corso */
.cont-scarica-corso-generale {
    background-color: var(--background-scar-prog);
    color: var(--scarica-programma-testo);
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: 165px;
    width: 100%;
    margin-top: 96px;
}

.scarica-corso-sinistra {
    padding: 0px 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.scarica-corso-sinistra strong {
    font-family: Gilroy-Bold;
    color: var(--scarica-programma-titolo);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 23px;
}
.scarica-corso-sinistra h3 {
    font-family: Gilroy-Bold;
    color: white;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
}

.scarica-corso-destra {
    margin-top: 40px;
    padding: 0px 16px;
    margin-bottom: 40px;
}

.scarica-corso-destra button {
    cursor: pointer;
    padding: 15px 28px;
    background-color: var(--background-invio-scar-prog);
    border: 2px solid var(--bordi-bottone-scar-prog);
    border-radius: 2px;
    color: var(--colore-testo-bottone-scar-prog);
    margin-right: 12px;
    font-family: Gilroy-Medium;
    width: 100%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.scarica-corso-destra input {
    border: 2px solid var(--bordi-bottone-scar-prog);
    border-radius: 2px;
    box-sizing: border-box;
    background-color: var(--background-scar-prog);
    color: var(--colore-testo-bottone-scar-prog);
    padding: 15px 28px;
    margin-right: 12px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.scarica-corso-destra-giu {
    padding: 16px 0px 0px;
    color: var(--colore-testo-term-servizio);
}
.scarica-corso-destra-giu a {
    color: var(--colore-testo-term-servizio);
    margin-left: 3px;
}
.scarica-corso-destra-giu input {
    background-color: var(--background-scar-prog);
    border: 2px solid var(--bordi-bottone-scar-prog);
}

@media screen and (max-width:940px) {
    .cont-scarica-corso-generale {
        max-width: 576px;
        flex-direction: column;
        height: 100%;
        align-items: flex-start;
        padding-top: 5px;
    }
    .scarica-corso-sinistra {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }
    .scarica-corso-destra {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        max-width: 100%;
        width: 100%;
    }
    .scarica-corso-destra button {
        padding: 10px 16px;
        width: 30%;
    }
    .scarica-corso-destra-su input {
        width: 70%;
    }
    .scarica-corso-destra-giu {
        padding-bottom: 16px;
    }
}

@media screen and (max-width:575px) {
    .cont-scarica-corso-generale {
        max-width: 100%;
    }
}

/* Inizio sezione recenzioni studenti */
.cont-recenzioni-studenti-generale {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin-top: 96px;
}

.recenzioni-studenti-sinistra {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
}
.recenzioni-studenti-sinistra .item h2 {
    color: var(--link-garante-successo);
    font-family: Gilroy-Bold;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 46px;
    margin-bottom: 32px;
}

.recenzioni-studenti-destra {
    align-self: flex-start;
    align-items: center;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
}

.recenzioni-studenti-destra .rec-studenti-logo {
    width: 150px;
    height: 100px;
    margin-right: 24px;
}
.recenzioni-studenti-destra .rec-studenti-logo img {
    width: 100%;
}

.item-desc-recenzioni {
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.item-star svg {
    fill: rgb(244, 205, 14);
}

@media screen and (max-width:940px) {
    .cont-recenzioni-studenti-generale {
        max-width: 576px;
        position: relative;
    }
    .recenzioni-studenti-destra {
        display: none;
    }
    .recenzioni-studenti-sinistra .item h2 {
        font-family: Gilroy-Bold;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 28px;
        margin-bottom: 16px;
    }
    .recenzioni-studenti-sinistra {
        max-width: 100%;
        width: 100%;
        position: absolute;
    }
}

/* Inizio sezione video degli studenti parteciapanti al corso */
.cont-video-studenti-generale {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
    max-width: 100%;
    width: 100%;
    padding-bottom: 80px;
}

.riga-lista-video {
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.box-video-studente {
    padding: 0px 20px;
    width: 100%;
    height: 400px;
}

.box-video-studente iframe {
    height: 100%;
    width: 100%;
}

@media screen and (max-width:940px) {
    .cont-video-studenti-generale {
        padding-bottom: 42px;
    }
    .box-video-studente {
        height: 215px;
        margin-top: 50px;
    }
}
@media screen and (max-width:580px) {
    .box-video-studente {
        margin-top: 16px;
    }
    .cont-video-studenti-generale {
        padding-bottom: 0px;
    }
}

/* Inizio sezione lettura recenzioni */
.cont-lettura-recenzioni-generale {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    justify-content: space-between;
}

.lettura-recenzioni-sinistra {
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27px;
}

.lettura-recenzioni-sinistra .item a {
    color: var(--link-garante-successo);
}

.lettura-recenzioni-sinistra .item svg {
    margin-left: 16px;
}

.lettura-recenzioni-sinistra .item {
    align-items: center;
}

.lettura-recenzioni-sinistra .item:hover {
    color: var(--link-garante-successo-hover);
    cursor: pointer;
}
.lettura-recenzioni-sinistra .item:hover a {
    color: var(--link-garante-successo-hover);
}
.lettura-recenzioni-sinistra .item a:hover {
    color: var(--link-garante-successo-hover);
}
.lettura-recenzioni-sinistra .item {
    max-width: max-content;
}

.lettura-recenzioni-destra .recenzioni-destra-freccia-sinistra {
    align-items: center;
    background-color: var(--colore-testo-invio-scar-prog);
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    margin-left: 16px;
    width: 60px;
    color: var(--strumenti-corso-hover);
}

.lettura-recenzioni-destra .recenzioni-destra-freccia-destra {
    align-items: center;
    background-color: var(--colore-testo-invio-scar-prog);
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    margin-left: 16px;
    width: 60px;
    color: var(--strumenti-corso-hover);
}

@media screen and (max-width:940px) {
    .cont-lettura-recenzioni-generale {
        max-width: 576px;
    }
}

@media screen and (max-width:580px) {
    .cont-lettura-recenzioni-generale {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .lettura-recenzioni-sinistra .item {
        margin-top: 16px;
    }
}

/* Inizio sezione dedicata ai collaboratori */
.cont-collaboratori-generale {
    margin-top: 96px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.collaboratori-titolo {
    margin-bottom: 16px;
    flex: 0 0 75%;
    max-width: 75%;
}

.collaboratori-titolo h3 {
    color: var(--colore-titolo-scopri-corso);
    font-family: Gilroy-Bold;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 46px;
}

.collaboratori-sottotitolo {
    flex: 0 0 100%;
    max-width: 100%;
}

.collaboratori-sottotitolo p {
    color: var(--colore-titolo-scopri-corso);
    font-family: Gilroy-Medium;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 34px;
}

.lista-collaboratori {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
    flex: 0 0 100%;
    max-width: 100%;
}

.lista-collaboratori img {
    height: 56px;
    margin: 16px 8px;
}

.info-lista-collaboratori {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.info-lista-collaboratori span {
    color: var(--colore-freccia-scopri-corsi);
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

@media screen and (max-width:940px) {
    .cont-collaboratori-generale {
        max-width: 576px;
    }
    .lista-collaboratori img {
        height: 40px;
        margin: 16px 8px;
    }
}
@media screen and (max-width:580px) {
    .cont-collaboratori-generale {
        max-width: 100%;
    }
    .collaboratori-titolo h3 {
        font-size: 23px;
        line-height: 28px;
    }
    .collaboratori-titolo {
        max-width: 100%;
        width: 100%;
    }
    .collaboratori-sottotitolo p {
        font-size: 18px;
        line-height: 27px;
    }
    .lista-collaboratori {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .lista-collaboratori img {
        height: 28px;
        margin: 8px;
    }
    .info-lista-collaboratori span {
        font-size: 16px;
    }
}
/* Inizio sezione scritta animata */
.cont-scritta-animata-generale {
    margin-top: 96px;
    background-color: var(--background-scar-prog);
    min-height: 125px;
    width: 100%;
    overflow: hidden;
    align-items: center;
}

.cont-riga-animata {
    -webkit-animation: marquee1 28s linear infinite;
    animation: marquee1 28s linear infinite;
    transform: translateX(0);
    justify-content: space-around;
    width: 3000px;
}

.cont-riga-animata strong {
    color: var(--bordo-scopri-corsi);
    font-family: Gilroy-Bold;
    font-size: 39px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
}

.cont-riga-animata span {
    color: var(--background-invio-scar-prog);
    font-family: Gilroy-Bold;
    font-size: 39px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
}

.cont-riga-animata .item {
    width: 1000px;
    display: inline-block;
    height: 39px;
    text-align: center;
}

/* Inizio sezione fundamental */
.cont-fundamental-generale {
    max-width: 940px;
    margin-bottom: 72px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.fundamental-generale-su .titolo {
    color: var(--link-garante-successo);
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    font-family: Gilroy-Bold;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 46px;
    margin-top: 32px;
}

.background-titolo-fundamental {
    padding: 8px 6px 2px;
    transition: .8s ease-in-out;
    background-repeat: no-repeat;
    background-image: var(--background-titolo-fundamentals-cmp);
}

.fundamental-generale-su .descrizione {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin-top: 16px;
}

.fundamental-generale-su .descrizione p {
    font-family: Gilroy-Medium;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 34px;
}

.fundamental-sez-giu-sinistra,
.fundamental-sez-giu-destra {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 56px;
}
.fundamental-sez-giu-destra {
    padding-left: 32px;
}

.fundamental-sez-giu-sinistra .cont-iframe {
    border-radius: 2px;
    overflow: hidden;
    padding: 125% 0 0;
    position: relative;
}

.fundamental-sez-giu-sinistra .cont-iframe iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.fundamental-sez-giu-destra .item:first-child {
    margin-top: 24px;
    margin-bottom: 40px;
}
.fundamental-sez-giu-destra .item:nth-child(2) {
    margin-bottom: 40px;
}

.fundamental-sez-giu-destra .item h3 {
    color: var(--link-garante-successo);
    font-family: Gilroy-Bold;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 8px;
}

.fundamental-sez-giu-destra .item p {
    width: 100%;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27px;
}

.fundamental-sez-giu-destra a {
    background-color: #001632;
    border: none;
    border-radius: 2px;
    color: #f5f7fe;
    cursor: pointer;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    max-width: max-content;
}

.fundamental-sez-giu-destra a:hover {
    background: var(--bottone-invio-fundamental-hover);
    color: var(--background-invio-bottone-fundamental);
}

@media screen and (max-width:940px) {
    .cont-fundamental-generale {
        max-width: 576px;
    }
    .fundamental-sez-giu-destra .item h3 {
        font-size: 20px;
    }
    .fundamental-sez-giu-destra .item p,
    .fundamental-sez-giu-destra .item a {
        font-size: 16px;
    }
    .fundamental-sez-giu-destra {
        margin-top: 40px;
    }
    .fundamental-sez-giu-destra .item:first-child,
    .fundamental-sez-giu-destra .item:nth-child(2) {
        margin-bottom: 24px;
    }
    .fundamental-sez-giu-destra a {
        padding: 10px 13px;
        line-height: 24px;
        font-size: 16px;
    }
    .fundamental-generale-su .titolo {
        font-size: 24px;
        line-height: 32px;
        padding-right: 16px;
    }
    .fundamental-generale-su .descrizione p {
        font-size: 18px;
        line-height: 27px;
    }
}
@media screen and (max-width:580px) {
    .fundamental-generale-giu {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }
    .fundamental-sez-giu-sinistra,
    .fundamental-sez-giu-destra {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .fundamental-sez-giu-destra {
        margin-top: 24px;
        padding: 0px;
    }
    .fundamental-sez-giu-destra .item:first-child {
        margin-top: 24px;
        margin-bottom: 16px;
    }
    .fundamental-sez-giu-destra .item:nth-child(2) {
        margin-bottom: 16px;
    }
    .fundamental-sez-giu-destra a {
        max-width: 100%;
    }
}

/* Inizio seconda sezione riguardanti i corsi del sito */
.separatore-secondo-scopri-corsi {
    background-color: var(--background-secondo-scopri-corsi);
    padding: 56px 0px;
    height: 292px;
}

.cont2-scopri-corsi-generale {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 940px;
    width: 100%;
}

.cont2-scopri-corsi-generale h3 {
    margin-bottom: 24px;
    font-family: Gilroy-Bold;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 46px;
}

.cont2-scelta-corso {
    gap: 32px;
}

.scelta2-corso-sinistra-secondo,
.scelta2-corso-destra-secondo {
    flex-direction: column;
}

.scelta2-corso-sinistra,
.scelta2-corso-destra {
    background-color: var(--background-scopri-corsi);
    border-radius: 2px;
    color: var(--colore-freccia-scopri-corsi);
    display: flex;
    margin-bottom: 24px;
    padding: 16px;
    border: 1.5px solid var(--border-scopri-corsi);
    cursor: pointer;
}

.scelta2-corso-sinistra:hover,
.scelta2-corso-destra:hover {
    border: 1px solid var(--bottone-entra-boolean-hover);
}

.scelta2-corso-sinistra-secondo svg,
.scelta2-corso-destra-secondo svg {
    position: absolute;
    top: 50%;
    right: 0px;
}

.scelta2-corso-sinistra-primo {
    background-color: #00de6b;
    width: 67px;
    height: 67px;
}

.scelta2-corso-destra-primo {
    background-color: #cad4fb;
    width: 67px;
    height: 67px;
}

.scelta2-corso-sinistra-secondo,
.scelta2-corso-destra-secondo {
    padding: 10px 32px 10px 16px;
    position: relative;
}

.scelta2-corso-sinistra-secondo h4,
.scelta2-corso-destra-secondo h4 {
    color: var(--colore-titolo-scopri-corso);
    font-family: Gilroy-Bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 23px;
}
.scelta2-corso-sinistra-secondo p,
.scelta2-corso-destra-secondo p {
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.scelta2-corso-sinistra-primo svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 15px;
}
.scelta2-corso-destra-primo svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 15px;
}

@media screen and (max-width:940px) {
    .separatore-secondo-scopri-corsi {
        height: 381px;
    }
    .cont2-scelta-corso {
        flex-direction: column;
        gap: 0px;
    }
    .cont2-scopri-corsi-generale {
        max-width: 576px;
    }
    .scelta2-corso-sinistra {
        padding: 16px 0px;
        margin-bottom: 0px;
        border-bottom: 1.5px solid #cad4fb;
        background-color: transparent;
    }
    .scelta2-corso-destra {
        background-color: transparent;
        padding: 16px 0px;
        margin-bottom: 0px;
    }
    .cont2-scopri-corsi-generale h3 {
        font-family: Gilroy-Bold;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 28px;
    }
}

/* Inizio footer */
.separatore-footer {
    max-width: 100%;
    width: 100%;
    padding-top: 96px;
    background-color: var(--background-footer);
}
.footer-sotto-adattato {
    display: none;
}
.contenitore-footer-generale {
    position: relative;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

/* Inizio footer parte sopra */

.footer-generale-su {
    position: relative;
}

.footer-su-sinistra {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
    position: relative;
    width: 100%;
}

.item-faq, .item-informazioni {
    margin-bottom: 24px;
}

.item-faq span:first-child,
.item-informazioni span:first-child {
    margin-bottom: 8px;
    color: var(--colore-titolo-footer);
    font-family: Gilroy-Bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 23px;
}

.item-faq p,
.item-faq p a,
.item-informazioni p,
.item-informazioni p a {
    color: white;
    font-family: Gilroy-Medium;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 34px;
}

.item-modalita-ammissione {
    align-items: center;
    padding-top: 16px;
}

.item-modalita-ammissione picture img {
    width: 90px;
    height: 90px;
}

.item-modalita-ammissione span {
    padding-left: 24px;
    color: var(--colore-titolo-footer);
}

.footer-su-destra {
    margin-left: 8.33333333%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
}

.footer-su-destra .separatore {
    background-color: rgba(132,165,250,.5);
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0px;
    left: -50px;
}

.cont-footer-su-destra {
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-accademia strong,
.item-servizi strong,
.item-corsi strong,
.item-aziende strong {
    font-family: Gilroy-Bold;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 23px;
    color: var(--colore-titolo-footer);
}

.cont-footer-su-destra ul li a {
    color: white;
    text-decoration: none;
}

.item-accademia, .item-corsi, .item-aziende, .item-servizi {
    flex: 0 0 50%;
    max-width: 50%;
}

.cont-footer-su-destra ul {
    padding: 8px 0px 32px;
}
.cont-footer-su-destra ul li {
    margin-top: 8px;
}

/* Inizio footer parte centrale */
.footer-generale-centro {
    align-items: center;
    padding: 80px 0px;
}

.cont-footer-centro1 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
    align-self: center;
    order: 1;
}

.cont-footer-centro1 span {
    color: var(--colore-titolo-footer);
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.cont-footer-centro1 ul li {
    margin-right: 1rem;
}

.cont-footer-centro1 ul li svg {
    color: white;
    font-family: Gilroy-Medium;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 34px;
}

.cont-footer-centro2 {
    margin-left: 28%;
    flex: 0 0 25%;
    max-width: 25%;
    order: 2;
}

.rigo-cont2-footer picture:first-child {
    align-self: center;
    width: 65.92px;
    height: 65.92px;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
    padding-right: 8px;
}

.rigo-cont2-footer picture:nth-child(2) {
    align-self: center;
    height: 65.92px;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
    padding-left: 16px;
}

.rigo-cont2-footer picture img {
    width: 100%;
    height: 100%;
}

.cont-footer-centro3 {
    margin-left: 8.33333333%;
    align-self: center;
    flex: 0 0 25%;
    max-width: 25%;
    order: 3;
}

.cont-footer-centro3 .item picture img {
    width: 25px;
    padding-right: 8px;
}

.cont-footer-centro3 .item a {
    text-decoration: none;
    color: white;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 27px;
}

/* Inizio footer parte giu */
.footer-generale-giu {
    padding-bottom: 56px;
    justify-content: space-between;
}

.cont-footer-giu-sinistra .item a {
    text-decoration: none;
    color: var(--colore-titolo-footer);
    font-family: Gilroy-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.cont-footer-giu-destra .item p {
    color: var(--colore-freccia-scopri-corsi);
    font-family: Gilroy-Medium;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 18px;
}
.item-accademia .footer-accademia-adattato svg,
.item-servizi .footer-servizi-adattato svg,
.item-corsi .footer-corsi-adattato svg,
.item-aziende .footer-aziende-adattato svg {
    display: none;
}

@media screen and (max-width:940px) {
    /* Adattamento footer parte sopra */
    .contenitore-footer-generale {
        max-width: 576px;
    }
    .footer-generale-su {
        flex-direction: column;
        max-width: 100%;
    }
    .footer-su-sinistra {
        max-width: 100%;
    }
    .item-modalita-ammissione span {
        width: 50%;
    }
    .cont-footer-su-destra {
        width: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .footer-su-destra{
        max-width: 100%;
        padding-top: 3rem;
        padding-left: 0px;
        margin-left: 0px;
    }
    .footer-su-destra .separatore {
        display: none;
    }
    .cont-footer-su-destra ul {
        display: none;
    }
    .item-accademia {
        position: relative;
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid #cad4fb;
        border-left: transparent;
        border-right: transparent;
    }
    .item-servizi, .item-corsi, .item-aziende {
        position: relative;
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid #cad4fb;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
    }

    .item-accademia .footer-accademia-adattato svg,
    .item-servizi .footer-servizi-adattato svg,
    .item-corsi .footer-corsi-adattato svg,
    .item-aziende .footer-aziende-adattato svg {
        display: block;
}

    .item-accademia .footer-accademia-adattato {
        color: var(--colore-titolo-footer);
        position: absolute;
        top: 20%;
        right: 0px;
    }
    .item-accademia .footer-accademia-adattato svg {
        width: 30px;
        height: 30px;
    }
    .item-corsi .footer-corsi-adattato {
        color: var(--colore-titolo-footer);
        position: absolute;
        top: 20%;
        right: 0px;
    }
    .item-corsi .footer-corsi-adattato svg {
        width: 30px;
        height: 30px;
    }
    .item-servizi .footer-servizi-adattato {
        color: var(--colore-titolo-footer);
        position: absolute;
        top: 20%;
        right: 0px;
    }
    .item-servizi .footer-servizi-adattato svg {
        width: 30px;
        height: 30px;
    }
    .item-aziende .footer-aziende-adattato {
        color: var(--colore-titolo-footer);
        position: absolute;
        top: 20%;
        right: 0px;
    }
    .item-aziende .footer-aziende-adattato svg {
        width: 30px;
        height: 30px;
    }
    /* Adattamento footer centrale */
    .footer-generale-centro {
        padding-top: 128px;
        padding-bottom: 32px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cont-footer-centro1 {
        order: 3;
        margin-top: 32px;
    }
    .cont-footer-centro2 {
        margin-left: 0px;
    }
    .rigo-cont2-footer picture:first-child,
    .rigo-cont2-footer picture:nth-child(2) {
        height: 55px;
    }
    .cont-footer-centro1 span {
        font-family: Gilroy-Medium;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 21px;
    }
    .cont-footer-centro1 ul {
        margin-top: 24px;
        display: flex;
        justify-content: space-around;
    }
    .cont-footer-centro1 ul li {
        max-width: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(94,120,153,.2);
        border-radius: 50%;
        height: 48px;
        position: relative;
        width: 48px;
        margin-right: 1rem;
    }
    .footer-logo-social svg {
        width: 100px;
    }
    .cont-footer-centro3 {
        max-width: 100%;
        width: 100%;
        margin-left: 0px;
        margin-top: 60px;
    }
    .footer-sotto-adattato {
        background-color: rgba(94,120,153,.2);
        bottom: -1px;
        height: 214px;
        left: -185px;
        display: block;
        position: absolute;
        width: 1000px;
        z-index: 0;
    }
    /* Adattamento footer parte sotto */
    .footer-generale-giu {
        flex-direction: column;
        gap: 16px;
    }
}
@media screen and (max-width:580px){
    .footer-sotto-adattato{
        background-color: rgba(94,120,153,.2);
        bottom: 0px;
        height: 217px;
        left: -16px;
        display: block;
        position: absolute;
        width: 100vw;
        z-index: 0;
    }
}