@import url(assets/color/color.css);    /* Importo colori del sito */
@import url(assets/font/font.css);      /* Importo font del sito */
@import url(assets/image/*);            /* Importo immagini del sito */

/* Formattazione sito */
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Girloy-Medium;
}

.flex {
    display: flex;
}

/* Inizio CSS sito */
.cont-nav-and-entra-boolean {           /* Colore gradiant tra la nav e la sezione sotto */
    flex-direction: column;
    background-color: var(--background-navbar-entra-boolean);
}

/* Inizio NavBar */
.cont-navbar-generale {
    background-color: var(--background-navbar);
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    position: fixed;
    padding: 16px 80px;
}

.navbar-parte-sinistra .logo-940 {
    display: none;
}

.navbar-parte-centrale {
    font-family: Girloy-Bold;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-parte-centrale .item {
    margin: 0px 20px;
}

.navbar-parte-centrale .item:hover {
    cursor: pointer;
}

.navbar-parte-destra button {
    background-color: var(--bottone-navbar);
    border: var(--bottone-navbar);
    font-family: Gilroy-Bold;
    font-size: 16px;
    color: var(--bottone-navbar-testo);
    padding: 10px 22px;
    cursor: pointer;
    border-radius: 2px;
}

.navbar-parte-destra .cont-menu {
    cursor: pointer;
    position: relative;
    height: 42px;
    margin-left: 24px;
    width: 30px;
    display: none;
}

.navbar-parte-destra .cont-menu span {
    background: #001632;
    display: block;
    height: 4px;
    left: 0;
    opacity: 1;
    position: absolute;
    width: 100%;
}

.cont-menu span:first-child {
    top: 10px;
}
.cont-menu span:nth-child(2),
.cont-menu span:nth-child(3) {
    top: 19px;
}
.cont-menu span:nth-child(4) {
    top: 28px;
}


@media screen and (max-width: 940px) { /* Navbar adattamento mobile  */
    .cont-navbar-generale {
        padding: 16px 24px;
    }
    .navbar-parte-centrale {
        display: none;
    }
    .navbar-parte-sinistra .logo {
        display: none;
    }

    .navbar-parte-sinistra .logo-940 {
        display: flex;
    }

    .navbar-parte-destra .cont-menu {
        display: block;
    }

}

/* Inizio prima informazione sull'iscrizione */
