@font-face {
    font-family: 'Girloy-Medium';
    src: url(https://boolean.careers/fonts/Gilroy-Medium.otf);

    font-family: 'Girloy-Bold';
    src: url(https://boolean.careers/fonts/Gilroy-Bold.otf);

    font-family: 'icomoon';
    src: url(https://boolean.careers/fonts/icomoon.ttf);
}